<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Mail</title>
	<link rel="stylesheet" type="text/css" href="http://localhost:3000/css/canceled.css">
	</link>
</head>

<body>
	{{{body}}}
	{{> footer }}
</body>

</html>
